<p id="howtext">
	Players alternate placing Xs and Os on the board until either (a) one player has three in a row, horizontally, vertically or diagonally; or (b) all nine squares are filled.
	<br />
	<br />
	If a player is able to draw three Xs or three Os in a row, that player wins.
	<br />
	<br />
	If all nine squares are filled and neither player has three in a row, the game is a tie.
	<br />
	<br />
	<br />
	<span class='o'>T</span>ICKETY<span class='o'>T</span>ACKETY<span class='o'>T</span>WIST: 
	<br />
	Get as many tie games as possible!
</p> 