<!-- <p id=nameRequest>Hello there, what's your user name?
</br> 
Pick something the world has never seen!
</br> 
</br>
</br>
<input type="text" name="userName">
<input type="submit">
</p> -->

<div data-ng-click="clicked()">
    <div data-ng-hide="clicked">
        <img src="../images/playbutton.png" alt="playbutton" id="playbutton">
    </div>
</div>
<div id="gamemodebuttons">
    <div data-ng-show="clicked">
        <a href="/#/gameboard">
            <img src="../images/computerbutton.png" alt="computerbutton" id="computerbutton">
        </a>
    </div>
    <div data-ng-show="clicked">
        <a href="/#/match_online_player">
            <img src="../images/onlineplayerbutton.png" alt="onlineplayerbutton" id="onlineplayerbutton">
        </a>
    </div>
</div>